.window-title {
    -fx-text-fill: gray;
    -fx-font-family: "Roboto";
    -fx-font-size: 13;
    -fx-opacity: 1;
}

.property-name {
    -fx-text-fill: rgb(200, 200, 200);
    -fx-padding: 0 0 5 0;
}

.config-file-add-button {
    -fx-background-color: rgb(20, 20, 20);
    -fx-padding: 10;
}

.config-file-add-button:hover {
    -fx-background-color: rgb(40, 40, 40);
}

.config-file-add-container {
    -fx-alignment: center;
    -fx-spacing: 20;
}

.config-file-add-text {
    -fx-text-fill: rgb(200, 200, 200);
    -fx-font-family: Roboto;
}

.config-file-add-icon {
    -fx-fit-width: 20;
    -fx-preserve-ratio: true;
}

.config-file-scroll {
    -fx-background-color: rgb(30, 30, 30);
}

.config-file-item {
    -fx-fill-height: true;
    -fx-alignment: center;
}

.config-file-item-name {
    -fx-text-fill: rgb(200, 200, 200);
    -fx-font-family: Roboto;
    -fx-min-width: 300;
    -fx-padding: 10 20;
}

.config-file-item-viewport .check-box .box {
    -fx-background-color: transparent;
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
}

.config-mode-flag {
    -fx-alignment: center;
    -fx-spacing: 5;
}

.config-flags {
    -fx-alignment: center;
    -fx-spacing: 10;
}

.config-flags .check-box {
    -fx-text-fill: rgb(200, 200, 200);
    -fx-font-family: Roboto;
}

.config-flags .check-box .box {
    -fx-background-color: rgb(50, 50, 50);
}

.config-flags .check-box:selected .box .mark {
    -fx-background-color: white;
}

.config-flags .check-box:selected .box {
    -fx-background-color: rgb(50, 200, 100);
}

.config-file-item-viewport .check-box {
    -fx-alignment: center;
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
}

ConfigFileItemUI:odd .config-file-item {
    -fx-background-color: rgb(255, 255, 255, 0.03);
    value-color: rgb(70, 70, 70);
}

RecordFileItemUI:odd .config-file-item {
    -fx-background-color: rgb(255, 255, 255, 0.03);
    value-color: rgb(70, 70, 70);
}

RecordFileItemUI .config-file-item {
    value-color: rgb(60, 60, 60);
}

ConfigFileItemUI .config-file-item {
    value-color: rgb(60, 60, 60);
}

.config-file-item-viewport {
    -fx-background-color: value-color;
}

.config-file-item-name {
    -fx-background-color: rgb(255, 255, 255, 0.1);
    -fx-background-radius: 0;
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
}

.config-file-item-name:readonly {
    -fx-background-color: transparent;
    -fx-highlight-fill: null;
    -fx-highlight-text-fill: null;
    -fx-cursor: default;
}

.config-file-item-viewport .check-box:selected .mark {
    -fx-background-color: white;
}

.config-file-item-viewport .spinner {
    -fx-background-color: transparent;
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
}

.config-file-item-viewport .spinner .text-field {
    -fx-background-color: value-color;
    -fx-background-radius: 0;
    -fx-text-fill: rgb(180, 180, 180);
}

.config-file-item-viewport .label {
    -fx-background-color: value-color;
    -fx-background-radius: 0;
    -fx-text-fill: rgb(200, 200, 200);
    -fx-effect: none;
    -fx-max-height: Infinity;
    -fx-padding: 5 15;
}

.config-file-header {
    -fx-min-height: 90;
    -fx-alignment: center_left;
    -fx-padding: 0 40;
    -fx-spacing: 30;
}

.config-file-save-mode {
    -fx-min-width: 140;
    -fx-max-width: Infinity;
    -fx-background-color: rgb(40, 40, 40);
}

.config-file-save-mode > .cell {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.config-file-save-mode .combo-box-popup .cell {
    -fx-background-color: rgb(30, 30, 30);
}

.config-file-save-mode .combo-box-popup .cell:hover {
    -fx-background-color: rgb(40, 40, 40);
}

.config-file-save-mode .arrow {
    -fx-background-color: white;
}

.config-file-header-text {
    -fx-text-fill: white;
    -fx-font-family: Roboto;
    -fx-font-size: 20;
}

.config-file-item .spinner .increment-arrow-button, .config-file-item .spinner .decrement-arrow-button {
    -fx-background-color: rgb(50, 50, 50);
    -fx-background-radius: 0;
}

.config-file-item .spinner .increment-arrow-button:hover {
    -fx-background-color: rgb(90, 90, 90);
}

.config-file-item .spinner .decrement-arrow-button:hover {
    -fx-background-color: rgb(90, 90, 90);
}

.config-file-item .spinner .increment-arrow, .config-file-item .spinner .decrement-arrow {
    -fx-background-color: rgb(200, 200, 200);
}

.config-file-item-viewport .check-box .mark {
    -fx-min-height: 15;
    -fx-min-width: 15;
}

.config-file-delete-container {
    -fx-padding: 5 10;
}

.config-file-delete-container:hover {
    -fx-background-color: rgb(255, 80, 80);
}

.config-file-item-delete-button {
}

.component-property {
    -fx-padding: 10 15 0 15;
}

.component-property .text-field {
    -fx-background-color: rgb(50, 50, 50);
    -fx-text-fill: white;
}

.component-property .combo-box {
    -fx-background-color: rgb(50, 50, 50);
}

.component-property .combo-box .arrow {
    -fx-background-color: white;
}

.component-property .combo-box .cell {
    -fx-background-color: rgb(50, 50, 50);
}

.component-property .combo-box .cell:hover {
    -fx-background-color: rgb(70, 70, 70);
}

.window-title-bar {
    -fx-padding: 5 20;
    -fx-alignment: center;
    -fx-background-color: rgb(240, 240, 240);
}

.window-bar:stage_focused .window-title {
    -fx-text-fill: rgb(0, 0, 0, 0.7);
}

.window-control {
    -fx-spacing: 10;
    -fx-padding: 0 15;
    -fx-background-color: rgb(240, 240, 240);
}

.window-button-icon {
    -fx-radius: 8;
}

.window-button-viewport {
    -fx-padding: 7 0;
}

#window-button-close {
    base-button-color: #FF605C;
    -fx-opacity: 0.9;
    -fx-fill:
        radial-gradient(center 50% 20%, radius 100%, derive(base-button-color, 0) 10%, base-button-color 30%, derive(base-button-color, 0.1) 90%);
    //-fx-effect: innershadow(gaussian, rgb(0, 0, 0, 0.5), 10, 0.2, 0, 3);
}

#window-button-close:hovered {
    -fx-opacity: 1;
    -fx-effect: dropshadow(gaussian, base-button-color, 10, 0.2, 0, 0);
}

#window-button-maximize {
    base-button-color: #00CA4E;
    -fx-opacity: 0.9;
    -fx-fill:
            radial-gradient(center 50% 20%, radius 100%, derive(base-button-color, 0) 10%, base-button-color 30%, derive(base-button-color, 0.1) 90%);
    //-fx-effect: innershadow(gaussian, rgb(0, 0, 0, 0.5), 10, 0.2, 0, 2);
}

#window-button-maximize:hovered {
    -fx-opacity: 1;
    -fx-effect: dropshadow(gaussian, base-button-color, 10, 0.2, 0, 0);
}

#window-button-minimize {
    base-button-color: #FFBD44;
    -fx-opacity: 0.9;
    -fx-fill:
           radial-gradient(center 50% 20%, radius 100%, derive(base-button-color, 0) 10%, base-button-color 30%, derive(base-button-color, 0.1) 90%);
    //-fx-effect: innershadow(gaussian, rgb(0, 0, 0, 0.5), 10, 0.2, 0, 2);
}

#window-button-minimize:hovered {
    -fx-opacity: 1;
    -fx-effect: dropshadow(gaussian, base-button-color, 10, 0.2, 0, 0);
}

.toolbar {
    -fx-background-color: rgb(30, 30, 30);
    -fx-padding: 0 5;
}

.toolbar-box {
    -fx-spacing: 2;
}

.tool-choice {
}

.title-new-node {
    -fx-text-fill: white;
}

.tool-choice .combo-box {
    -fx-background-color: transparent;
    -fx-border-color: rgb(255, 255, 255, 0.2);
    -fx-border-radius: 3;
}

.tool-choice .combo-box .cell {
    -fx-graphic-text-gap: 10;
    -fx-padding: 4 10;
}

.tool-choice .combo-box .combo-box-popup .cell {
    -fx-background-color: rgb(50, 50, 50);
    -fx-padding: 5 10;
}

.tool-choice .combo-box .combo-box-popup .cell:hover {
    -fx-background-color: rgb(70, 70, 70);
}

.tool-choice .combo-box > .cell {
    -fx-background-color: transparent;
}

.tool-choice .combo-box .arrow {
    -fx-background-color: white;
}

.tool-button:disabled {
    -fx-opacity: 0.5;
}

.tool-button {
    -fx-padding: 4;
    -fx-background-radius: 2;
}

.toolbar-container {
    -fx-padding: 4 0;
}

.tool-button:hover {
    -fx-background-color: rgb(255, 255, 255, 0.1);
}

.tool-radio:selected, .tool-radio:selected:hover {
    -fx-background-color: rgb(0, 0, 0, 0.5);
}

.tool-separator {
    -fx-padding: 5;
    -fx-alignment: center;
}

.tool-separator-shape {
    -fx-background-color: rgb(255, 255, 255, 0.3);
    -fx-min-width: 1;
    -fx-max-height: 17;
    -fx-min-height: 17;
}

.project-editor {
}

.project-editor-ribbon {
    -fx-min-height: 100;
}

.ribbon-button-icon {
    -fx-max-height: 40;
    -fx-max-width: 40;
    -fx-min-height: 40;
    -fx-min-width: 40;
    -fx-fit-mode: scale-fit-min;
}

.ribbon-button {
    -fx-background-radius: 5;
}

.ribbon-button-viewport {
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 10 2;
}

.split-pane {
    -fx-padding: 0;
}

.depth-container {
    -fx-min-width: 30;
    -fx-min-height: 30;
}

.file-viewer {
    -fx-min-width: 200;
}

.file-viewer .tree-view, .file-viewer .tree-cell, .file-viewer {
    -fx-background-color: color-editor-file-viewer;
}

.file-viewer .tree-cell {
    -fx-text-fill: color-text;
}

.file-viewer .tree-cell:selected {
    -fx-background-color: color-editor-file-viewer-selected;
}

.file-viewer .arrow {
    -fx-background-color: color-text;
}

.editor-viewport {
    -fx-background-color: color-editor;
}

.split-pane-divider {
    -fx-padding: 3;
    -fx-background-color: color-editor-file-viewer;
}

.tab-label {
    -fx-font-family: "Roboto Condensed";
    -fx-font-weight: normal;
    -fx-font-size: 13;
}

.editor-properties {
    -fx-background-color: color-editor-file-viewer;
}

.tab-header-background {
    -fx-background-color: rgb(255, 255, 255, 0.1);
}

.caret {
    -fx-stroke: white;
}