.window-title-bar {
    -fx-padding: 5 20;
    -fx-alignment: center;
}

.window-icon {
}

.window-title {
    -fx-text-fill: rgb(0, 0, 0, 0.6);
    -fx-font-family: "Roboto";
    -fx-font-size: 13;
    -fx-opacity: 1;
}

.window-bar:stage_focused .window-title {
    -fx-text-fill: rgb(0, 0, 0, 0.7);
}

.window-control {
    -fx-spacing: 10;
    -fx-padding: 0 15;
}

.window-button-icon {
    -fx-radius: 8;
}

.window-button-viewport {
    -fx-padding: 7 0;
}

#window-button-close {
    base-button-color: #FF605C;
    -fx-opacity: 0.9;
    -fx-fill:
        radial-gradient(center 50% 20%, radius 100%, derive(base-button-color, 0) 10%, base-button-color 30%, derive(base-button-color, 0.1) 90%);
    //-fx-effect: innershadow(gaussian, rgb(0, 0, 0, 0.5), 10, 0.2, 0, 3);
}

#window-button-close:hovered {
    -fx-opacity: 1;
    -fx-effect: dropshadow(gaussian, base-button-color, 10, 0.2, 0, 0);
}

#window-button-maximize {
    base-button-color: #00CA4E;
    -fx-opacity: 0.9;
    -fx-fill:
            radial-gradient(center 50% 20%, radius 100%, derive(base-button-color, 0) 10%, base-button-color 30%, derive(base-button-color, 0.1) 90%);
    //-fx-effect: innershadow(gaussian, rgb(0, 0, 0, 0.5), 10, 0.2, 0, 2);
}

#window-button-maximize:hovered {
    -fx-opacity: 1;
    -fx-effect: dropshadow(gaussian, base-button-color, 10, 0.2, 0, 0);
}

#window-button-minimize {
    base-button-color: #FFBD44;
    -fx-opacity: 0.9;
    -fx-fill:
           radial-gradient(center 50% 20%, radius 100%, derive(base-button-color, 0) 10%, base-button-color 30%, derive(base-button-color, 0.1) 90%);
    //-fx-effect: innershadow(gaussian, rgb(0, 0, 0, 0.5), 10, 0.2, 0, 2);
}

#window-button-minimize:hovered {
    -fx-opacity: 1;
    -fx-effect: dropshadow(gaussian, base-button-color, 10, 0.2, 0, 0);
}

.usage-chart {
    //-fx-min-width: 400;
}

.task-list {
    -fx-absolute-width: 220;
}


.root-rmw {
    -fx-background-color: rgb(34, 34, 44);
}

.flow-desc {
    -fx-alignment: center_left;
    -fx-hgap: 20;
    -fx-padding: 5 10;
}

.desc {
    -fx-alignment: center;
    -fx-spacing: 10;
}

.cpu-line, .ram-line, .all-cpu-line {
    -fx-absolute-height: 5;
    -fx-absolute-width: 20;
}

.cpu-text, .ram-text {
    -fx-text-fill: white;
    -fx-font-family: "Roboto";
}

.cpu-line {
    -fx-background-color: #FF4D4D;
}

.ram-line {
    -fx-background-color: #6666FF;
}

.all-cpu-line {
    -fx-background-color: teal;
}

.task-item {
    -fx-font-family: "Roboto Condensed";
    -fx-text-fill: white;
    -fx-padding: 1 10;
}