.code-area {
    -fx-font-family: "monospace";
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-font-size: 13;
}

.lineno {
    -fx-background-insets: 0 5 0 0;
    -fx-text-fill: rgb(255, 255, 255, 0.5);
    -fx-font-family: "monospace";
    -fx-font-size: 11;
    -fx-padding: 0 10 0 5;
    -fx-alignment: center;
    -fx-background-color: rgb(30, 30, 30);
}

.highlighted-text, .plain-text {
    -fx-fill: white;
}

.yaml-key {
    -fx-font-weight: bold;
    -fx-fill: limegreen;
}

.yaml-comma {
    -fx-fill: grey;
}

.yaml-boolean {
    -fx-fill: #74d5ed;
    -fx-font-weight: bold;
}

.yaml-dash {
    -fx-fill: #949494;
}

.yaml-colon {
    -fx-fill: gray;
    -fx-opacity: .3;
}

.yaml-string {
    -fx-fill: yellow;
}

.yaml-number {
    -fx-fill: orange;
}

.yaml-bracket {
    -fx-fill: rgb(80, 80, 80);
}

.yaml-comment {
    -fx-fill: rgb(190, 190, 190);
}

.properties-key {
    -fx-fill: teal;
}

.properties-equalSign {
    -fx-fill: aqua;
}

.properties-value {
    -fx-fill: yellow
}

.properties-comment {
    -fx-fill: gray;
}

.xml-comment {
    -fx-fill: gray;
}

.xml-tags {
    -fx-fill: teal;
}

.root, .code {
    -fx-background-color: rgb(34, 34, 44);
}