# Project exclude paths
/API/target/
/Engine/target/
/CodeEngine/target
/Library/target
/Internal/target
/target/
/Launcher/target
/Setup/target
/Resources/target
/Bundler/target
/BasePlugin/target/
/BuildHelper/target/
/Configuration/target/
