.standard-window {
    -fx-background-color: #0E121A;
    -fx-border-width: 1;
    -fx-border-color: #383f4d;
}

.standard-window-header {
    -fx-background-color: #1A202C;
    -fx-min-height: 30;
    -fx-max-height: 30;
    -fx-pref-height: 30;
}

#caption {
}

.shadow-background {
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0, 0.5), 10, 0, 0, 0);
    -fx-padding: 10;
}

StandardWindowSkin {
    -fx-background-color: transparent;
    -fx-padding: 20;
    -fx-pref-height: 600;
    -fx-pref-width: 800;
    -fx-min-width: 200;
    -fx-min-height: 200;
}

StandardWindowSkin:maximized {
    -fx-padding: 8;
    -fx-effect: none;
}

.caption-container {
    -fx-alignment: center;
    -fx-padding: 0 15;
}

#window-title {
    -fx-text-fill: rgba(255, 255, 255, 0.8);
    -fx-font-family: Roboto;
    -fx-font-size: 14;
}

.control-container {
    -fx-alignment: center_right;
}

.control-button {
    -fx-padding: 0 10;
    -fx-background-radius: 0;
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
}

.control-button:hover {
    -fx-background-color: rgb(255, 255, 255, 0.08);
}

#close-button {
    -fx-graphic: url("rsrc:Themes/Dark/Icons/CloseButton2.png");
}

#maximize-button {
    -fx-graphic: url("rsrc:Themes/Dark/Icons/MaximizeButton.png");
}

#minimize-button {
    -fx-graphic: url("rsrc:Themes/Dark/Icons/MinimizeButton.png");
}

#close-button:hover {
    -fx-background-color: #C44B4B;
    -fx-graphic: url("rsrc:Themes/Dark/Icons/CloseButton3.png");
}