NodeSkin {
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0, 0.3), 10, 0, 0, 0);
}

NodeSkin > VBox {
    -fx-background-color: #151a24C0;
    -fx-background-radius: 15;
    -fx-min-width: 150;
}

NodeSkin:selected {
    -fx-effect: dropshadow(gaussian, rgb(237, 136, 54, 0.5), 10, 0, 1, 3);
}

NodeSkin:selected > VBox {
    -fx-background-color: #151a24;
    -fx-border-width: 2;
    -fx-border-color: rgb(237, 136, 54);
    -fx-border-radius: 15;
    -fx-border-insets: -2;
}

NodeSkin:selected NodeParameterSkin .OutputPort * {
    -fx-stroke: rgb(255,255,255,0.8);
    -fx-stroke-width: 1.5;
    -fx-stroke-type: inside;
}

NodeSkin:selected NodeParameterSkin .InputPort * {
    -fx-stroke: rgb(255,255,255,0.8);
    -fx-stroke-width: 1.5;
    -fx-stroke-type: inside;
}

NodeSkin > VBox > .NodeTitlePane {
    -fx-background-color: #1b202c;
    -fx-background-radius: 15 15 0 0;
    -fx-padding: 5 15;
}

NodeSkin > VBox > .NodeTitlePane > .NodeTitleLabel {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "Roboto";
    -fx-font-size: 15px;
}