.root {
    -fx-background-color: rgb(240, 240, 240);
}

.wizard-separator {
    -fx-min-height: 1px;
    -fx-background-color: rgb(100, 100, 100, 0.5);
}

.wizard-container {
    -fx-padding: 15 20;
}

.header-wizard {
    -fx-font-size: 25;
    -fx-padding: 10 15 5 15;
}

.header-container {
}

.buttons {
    -fx-alignment: center_right;
    -fx-spacing: 5px;
    -fx-padding: 10 10;
}

.buttons Button {
    -fx-min-width: 75px;
}

.mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}
